
.search-input-field{
    display: inline-block;
}

.img-cover{
    border: 2px solid rgb(62, 62, 62) !important;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

.img-cover img {
    object-fit: contain;
}

.filters-container{
    padding: 20px;
}

.items-container{
    padding: 25px;
}

.item-container{
    border: 1px solid gray;
    border-radius: 6px;
    height: 400px;
    width: 307px;
    padding: 10px;
    margin-top: 25px;
    position: relative;
    margin-left: 10px;

}

.item{
    position: relative;
    height: 100%;
}

.item-thumbnail-container{
    width: 100%;
    height: 40%;
    background-color: red;
}

.item-thumbnail-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-title{
    font-size: 1.4em;
}

.item-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;  /* limit to 2 lines */
}

.date-and-price-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.price-1{
    font-size: 1.5em;
}

.save-button-container{
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
}

a{
    text-decoration: none;
    color: black;
}